@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 20px;    
}


body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #f9f9f9;
}

hr{
    margin: 10px 0;  
    border: 1px solid #dddddd ;
    width: 100%;
}

.nav-mobile-version{
    display: none;
}

nav {
    border: 1px solid black;
    margin-bottom: 50px;
    background-color: black;
}
    /* overflow: hidden;
    width: 100%;
    top: 0;
    position: fixed;
} */


nav ul{
    display: flex;  
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;    
    list-style-type: none;  
    color: white;
    
}

nav ul li{
    
    margin-right: 20px;
   
    
    
}
nav ul li a{ 
    text-decoration: none;   
    display: inline-block;
    padding:20px;
    color:white;
}

nav ul li a:hover{
    /* border: 1px solid red; */
    background-color: #f9f9f9;
    color: black;
}



li.push-item{
    margin-left: auto;
   
}


li.push-item >input{
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1em;
   
}

li.push-item >input:focus{
    width: 400px;
}


.section-filters,
.section-popular{

    margin-bottom: 50px;
}


main{
   
    max-width: 1300px;    
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.section-filters{
    padding: 85px 0;
    width: 25%;
 }

 .section-popular{
     
     width: 75%;
 }


 .title-section{
  
    text-align: center;
     margin-bottom: 20px;
     padding:10px 0;
 }


 .container-populars{
     
     display: flex;
     flex-flow: row wrap;     
    
 }

 .container-movie{
     border: 1px solid#dddddd;
     box-shadow: 10px 10px 5px #aaaaaa;     
     margin:0 25px 25px 25px;          
     width: 25%;
     font-weight: 400;
     font-size: 0.8em;
     border-radius: 15px;
     overflow: hidden;
     
 }


.container-movie div{
    margin-bottom: 10px;
}

.container-movie > .descripcion-movie{
        text-align: center;
        border-bottom: 1px solid #dddddd;
        
}

 .container-movie div:last-of-type{
     text-align: center;
 }

 .container-img-movie img{
     width: 100%;     
 }


 .btn{
    display: inline-block;
    padding: 10px;
    width: 80%;
    
}

.btn-black{
    color: white;
    border: 1px solid black;
    background-color: black;
    transition: color 0.2s, border 0.2s, background-color 0.2s;
}

.btn-black:hover{
    color: black;
    border: 1px solid grey;
    background-color: grey;
}

.container-sort,
.container-filter{    
    background-color: white;
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 0.7em;
    
}

.container-sort > .name,
.container-filter > .name{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    padding: 14px 16px;
    border-bottom: 1px solid #dddddd;

}
span.fa-chevron-right{    
    padding-top: 15px;
    transform:rotate(0deg);
    transition: transform 0.2s;
}

span.fa-chevron-right:hover{
    transform:rotate(90deg);
}

.container-sort > .filter,
.container-filter > .filter,
.realese-date,
.genres-movie,
.container-certificacion{
    width: 100%;
    display: inline-flex;
    align-items: flex-start;    
    flex-flow: column wrap; 
    padding:14px 16px;
    
}


.filter > select{
    width: 100%;
    padding:10px 0;
    background-color: #dddddd;
    font-size: 1em;    
    margin-top: 20px;
}


.filters-movie{
    display: flex;
    flex-flow: column wrap;

}

.filters-movie{
    margin-top: 10px;
}

.filters-movie div{
    margin-bottom:5px;
}

.realese-date div{
  margin: 10px 0;  
}

.to,
.from{
    width: 100%;
}

.input-date{
  padding: 5px 0;
  width: 100%;
  font-size: 1em;
  background-color: #dddddd;
}


.genres-movie ul,
.container-certificacion ul{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}


.genres-movie ul li,
.container-certificacion ul li {
    margin:4px 10px 4px 0;
}

.genres-movie ul li a,
.container-certificacion ul li a{
    text-decoration: none;
    border-radius: 20px;
    border:  1px solid black;
    display: inline-block;
    padding: 2px 10px;
    color: white;
    background-color: black;
    transition: color 0.2s, background-color 0.2s, border 0.2s;
}

.genres-movie ul li a:hover,
.container-certificacion ul li a:hover{
    color:black;
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
}

.container-footer{
    width: 100%;       
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    font-size: 0.8em;
}


.container-basic,
.container-involved,
.container-community,
.container-legal{
    
    margin: 30px 20px;

}



.container-basic ul,
.container-involved ul,
.container-community ul,
.container-legal ul{
    list-style-type: none;
    /* padding: 10px;     */
}

.container-basic >h3,
.container-involved >h3,
.container-community >h3,
.container-legal >h3{
    text-align: left;  
    color: white;
    margin-bottom: 20px;
}

.container-basic li,
.container-involved li,
.container-community li,
.container-legal li{
    margin-bottom: 10px;  
}

.container-basic ul li a,
.container-involved ul li a,
.container-community ul li a,
.container-legal ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    border-bottom: 1px solid black;
    transition: border-bottom 0.5s;

}

.container-basic ul li a:hover,
.container-involved ul li a:hover,
.container-community ul li a:hover,
.container-legal ul li a:hover{
    border-bottom: 1px solid white;
}

.movie-date{
    opacity: 0.5;
    margin:15px 0;
}


.movie-title{
    font-size: 1em;
    font-weight: 600;    
}

.movie-date{
    font-size: 0.9em;    
}

.container-search{
    width: 100%;
}


.btn-search {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: white;
    background-color: black;
    border-radius: 15px;
    border: 1px solid black;
    
}

.btn-search:hover{
    color: black;
    background-color: grey;
    border: 1px solid grey;
    border-radius: 15px; 
    
}