@media only screen and (max-width: 600px){
     main{        
        flex-flow: column wrap;
        align-content: center;
    }

    i{
        font-size: 1.5em;
    }

    .section-filters{
        padding: 0;        
        width: 100%;
        display: none;
     }

     .section-popular{
        margin-bottom: 0;
     }

    .container-populars{
        display: flex;
        flex-flow: column wrap;       
    }

    .container-movie{
        width: auto;
        font-size: 0.7em;
        
    }

    .container-movie div:last-of-type{
        padding:8px;
    }


    .nav-desktop-version{display: none;}
    .nav-mobile-version{display: block;}

    .overlay{
        position: fixed;
        z-index: 2;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left:0;
        height: 100%;
    }
    
}